@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #17171c;
  display: grid;
  place-items: center;
  font-family: "Work Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 48rem;
  padding: 1rem;
  gap: 1rem;
}

.result__screen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 30rem;
}

section h2 {
  font-size: 40px;
  color: #4e505f;
}

section h1 {
  font-size: 96px;
}

.calculation__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div {
  display: flex;
  gap: 1rem;
}

button {
  background-color: #2e2f38;
  border: #2e2f38 1px solid;
  border-radius: 1.5rem;
  color: #fff;
  font-size: 40px;
  height: 4.5rem;
  width: 100%;
}

button:hover {
  cursor: pointer;
  border: #fff 1px solid;
}

.medium__gray {
  background-color: #4e505f;
}

.blue__bg {
  background-color: #4b5efc;
}

@media screen and (max-width: 768px) {
  .result__screen {
    height: 16rem;
  }

  section h2 {
    font-size: 24px;
  }
  
  section h1 {
    font-size: 54px;
  }

  .calculation__buttons {
    gap: 0.5rem;
  }

  div {
    gap: 0.5rem;
  }

  button {
    font-size: 24px;
    height: 3.5rem;
    border-radius: 1rem;
  }
}
